<style type="text/css">
  .w100 {
    width: 100px;
  }

  .logTemplate .widget-box {
    position: relative;
    background: white;
    padding: 10px 30px;
  }

  .logTemplate .widget-body {
    max-height: 500px;
    overflow-y: auto;
  }

  .logTemplate {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: white;
    z-index: 999;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background: rgba(0, 0, 0, .8);
  }
</style>
<div class="navbar navbar-default" id="navbar">
  <div class="navbar-container" id="navbar-container">
    <div class="navbar-header pull-left">
      <a ui-sref="home" class="navbar-brand">
        <small><i class="icon-leaf"></i> F321-CRM System</small>
      </a><!-- /.brand -->
    </div>
    <!-- /.navbar-header -->
    <div class="navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        <li class="green">
          <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0);">
            <i class="icon-magic icon-animated-vertical"></i>
            <span class="badge badge-success" ng-bind="bar.short.length"></span>
          </a>
          <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close dropdown-navbar-crm">
            <li class="dropdown-header"><i class="icon-fire"></i>快捷入口</li>
            <li>
              <a ng-click="bar.addNew = true;">
                <span>录入新客户</span>
                <i class="icon-angle-right pull-right"></i>
              </a>
            </li>
          </ul>
        </li>
        <li class="light-blue">
          <a href="javascript:void(0);" ng-click="bar.logout()"> <i class="icon-signout"></i> <span class="menu-text"> 安全退出 </span>
          </a>
        </li>
      </ul>
      <!-- /.ace-nav -->
    </div>
    <!-- /.navbar-header -->
  </div>

  <div class="logTemplate" ng-if="bar.addNew">

    <div class="widget-box transparent">
      <div class="widget-header">
        <h4>客户信息</h4>
      </div>
      <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
          <form class="form-horizontal" role="form">
            <fieldset>
              <table class="table table-bordered no-margin-bottom">
                <tbody>
                <tr>
                  <td class="align-middle nowrap align-right">
                    <label>客户名</label>
                  </td>
                  <td class="align-middle">
                    <input type="text" ng-model="bar.params.name"/>
                  </td>
                </tr>
                <tr>
                  <td class="align-middle nowrap align-right">
                    <label>品牌</label>
                  </td>
                  <td class="align-middle">
                    <input type="text" ng-model="bar.params.brand"/>
                  </td>
                </tr>
                <tr>
                  <td class="align-middle nowrap align-right">
                    <label>关键字</label>
                  </td>
                  <td class="align-middle">
                    <input type="text" ng-model="bar.params.keyword"/>
                  </td>
                </tr>
                <tr>
                  <td class="align-middle nowrap align-right">
                    <label>行业</label>
                  </td>
                  <td class="align-middle">
                    <input type="text" ng-model="bar.params.industry"/>
                  </td>
                </tr>
                <tr>
                  <td class="align-middle nowrap align-right">
                    <label>地址</label>
                  </td>
                  <td class="align-middle">
                    <input type="text" ng-model="bar.params.address"/>
                  </td>
                </tr>
                <tr>
                  <td class="align-middle nowrap align-right">
                    <label>网站</label>
                  </td>
                  <td class="align-middle">
                    <input type="text" ng-model="bar.params.website"/>
                  </td>
                </tr>
                <tr>
                  <td class="align-middle nowrap align-right">
                    <label>简介</label>
                  </td>
                  <td class="align-middle">
                    <input type="text" ng-model="bar.params.intro"/>
                  </td>
                </tr>
                <tr>
                  <td class="align-middle nowrap align-right">
                    <label>重要程度</label>
                  </td>
                  <td class="align-middle">
                    <input type="text" ng-model="bar.params.intention"/>
                  </td>
                </tr>
                <tr>
                  <td class="align-middle nowrap align-right">
                    <label>来源</label>
                  </td>
                  <td class="align-middle">
                    <input type="text" ng-model="bar.params.source"/>
                  </td>
                </tr>
                <tr>
                  <td class="align-middle nowrap align-right">
                    <label>修改依据</label>
                  </td>
                  <td class="align-middle">
                    <textarea class="form-control"></textarea>
                  </td>
                </tr>
                </tbody>
              </table>
              <!-- 客户联系人 -->
              <div class="space-10"></div>
              <div class="widget-header">
                <h4>客户联系人</h4>

                <div class="widget-toolbar no-border">
                  <a class="tooltip-info" ng-click="bar.addContact()" title="添加"
                     data-action="settings">
                    <i class="icon-plus"></i>
                  </a>
                  <a data-action="collapse">
                    <i class="icon-chevron-up"></i>
                  </a>
                </div>
              </div>
              <table class="table table-striped table-bordered table-hover no-margin-bottom">
                <thead>
                <tr>
                  <th class="center nowrap">姓名</th>
                  <th class="center nowrap">手机</th>
                  <th class="hidden-480 center nowrap">性别</th>
                  <th class="hidden-480 center nowrap">办公电话</th>
                  <th class="hidden-480 center nowrap">传真</th>
                  <th class="hidden-480 center nowrap">邮件</th>
                  <th class="hidden-480 center nowrap">主要</th>
                  <th class="center nowrap">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contact in bar.params.crmContactList">
                  <td class="center align-middle nowrap">
                    <input ng-model="contact.name" class="w100" type="text"/>
                  </td>
                  <td class="center align-middle nowrap">
                    <input ng-model="contact.mobile" class="w100" type="tel"/>
                  </td>
                  <td class="hidden-480 center align-middle nowrap">
                    <label ng-click="contact.sex=1">
                      <input type="radio" name="sex" ng-checked="contact.sex==1"/> 女
                    </label>
                    <label ng-click="contact.sex=2">
                      <input type="radio" name="sex" ng-checked="contact.sex==2"/> 男
                    </label>
                  </td>
                  <td class="hidden-480 align-middle">
                    <input ng-model="contact.tel" type="tel"/>
                  </td>
                  <td class="hidden-480 align-middle">
                    <input ng-model="contact.fax" type="tel"/>
                  </td>
                  <td class="hidden-480 align-middle">
                    <input ng-model="contact.email" type="text"/>
                  </td>
                  <td class="hidden-480 center align-middle nowrap">
                    <label ng-click="contact.isPrimary=true">
                      <input type="radio" name="isPrimary" ng-checked="contact.isPrimary = true"/> 是
                    </label>
                    <label ng-click="contact.isPrimary=false">
                      <input type="radio" name="isPrimary" ng-checked="contact.isPrimary = false"/> 否
                    </label>
                  </td>
                  <td class="center align-middle nowrap">
                    <a class="fn-visit-record-edit red" href="javascript:void(0);"
                       ng-click="bar.remove(contact)">删除</a>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="space-24"></div>
              <div class="clearfix form-actions">
                <div class="col-md-offset-8 col-md-2">
                  <button class="btn btn-info" type="button" ng-click="bar.submit()">
                    <i class="icon-ok bigger-110"></i>
                    确定
                  </button>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-info" type="button" ng-click="bar.addNew=false">
                    <i class="icon-ok bigger-110"></i>
                    取消
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
