<div class="table-header no-margin-bottom pt6 pr12 bg-eff3f8 color-393939 border-bottom-dddddd">
  <div class="row">
    <div class="col-sm-6">
      <label class="mt6 no-margin-bottom">当前显示 <span ng-bind="(pager.index) * pager.size + 1"></span> 到
        <span ng-bind="(pager.index+1) * pager.size"></span> 条，共 <span ng-bind="pager.count"></span> 条记录</label>
    </div>
    <div class="col-sm-6">
      <div class="pull-right">
        <ul class="pagination mt9 no-margin-bottom">
          <li ng-class="{'disabled':!pager.canPrev}">
            <a href="javascript:void(0);" ng-click="pager.prev()">
              <i class="icon-double-angle-left"></i>
            </a>
          </li>
          <li ng-repeat="page in pager.pages" ng-class="{'active':page.index==(pager.index+1)}"><a
            href="javascript:void(0);" ng-click="pager.index = page.index"
            ng-bind="page.index"></a></li>
          <li ng-class="{'disabled':!pager.canNext}">
            <a href="javascript:void(0);" ng-click="pager.next()">
              <i class="icon-double-angle-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
