<ace-navbar></ace-navbar>
<div class="main-container" id="main-container">
  <div class="main-container-inner">
    <ace-sidebar mini="home.mini"></ace-sidebar>
    <div class="main-content" ng-class="{'mini-side':home.mini}">
      <ace-breadcrumb></ace-breadcrumb>
      <div class="page-content">
        <div class="row">
          <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <!-- PAGE CONTENT ENDS -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
  </div>
  <!-- /.main-container-inner -->
  <ace-top></ace-top>
</div><!-- /.main-container -->
